= yield

- content_for :head do
  %meta{ :name => "keywords", :content => keywords }
  %meta{ :name => "description", :content => defined?(description) ? description : configuration['description'] }
  %link{ :rel => "alternate", :type => "application/rss+xml", :title => rss_title, :href => rss_link}
  %title= "#{configuration['name']} - #{title}"
  =raw stylesheet_link_merged 'screen', :media => 'screen, projection'
  =raw stylesheet_link_merged 'print', :media => 'print'
  /[if lt IE 8]
    =raw stylesheet_link_merged 'ie', :media => 'screen, projection'


- content_for :header do
  %h1= link_to configuration['name'], root_path
  %h2= configuration['description']

- content_for :sidebar do
  = form_tag 'http://google.com/search', :method => :get do
    = hidden_field_tag :sitesearch, request.host
    = text_field_tag :q
    = submit_tag t(:search)

- content_for :js do
  = render "google_analytics"
  = render "get_clicky"
