!!! 5
%html
  %head
    = yield :head
    = csrf_meta_tag
  %body
    #container
      %header= yield :header
      %section= yield
      %aside= yield :sidebar
      %footer FOOTER
      %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" }
      %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" }
      =raw javascript_include_merged :base
      = yield :js
