= yield

- content_for :head do
  %meta{ :name => "keywords", :content => keywords }
  %meta{ :name => "description", :content => configuration['description'] }
  %link{ :rel => "alternate", :type => "application/rss+xml", :title => rss_title, :href => rss_link}

  %title= "#{configuration['name']} - #{title}"
  %link{ :href => 'http://fonts.googleapis.com/css?family=Signika+Negative:600,300,400', :rel => 'stylesheet', :type => 'text/css' }
  =raw stylesheet_link_tag 'application', :media => 'screen'

- content_for :header do
  %h1= link_to configuration['name'], root_path

  %p#about= raw configuration["about"]

  - content_for(:sidebar) do
    = form_tag 'http://google.com/search', :method => :get do
      = hidden_field_tag :sitesearch, request.host
      = text_field_tag :q
      = submit_tag t(:search)

    = render 'shared/about_me'
    = render 'shared/latest_posts'

- content_for :footer do
  = render 'shared/footer'

- content_for :js do
  %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" }
  %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
  = render "get_clicky"
