!!! 5
%html{:manifest=>"application.manifest", :lang => "pt-BR"}
  %head
    %meta{:charset => "utf-8"}
    = yield :head
    = csrf_meta_tag
  %body{:class => "#{yield(:body_class)}" }
    %div
      %header= yield :header
      = yield
      - unless yield(:sidebar).empty?
        %aside= yield :sidebar
      %footer= yield :footer
      =raw javascript_include_tag 'application'
      = yield :js
