- content_for :section do
  = stylesheet_link_tag 'section/screen'
  = stylesheet_link_tag 'section/post'

= render :layout => "layouts/post", :locals => {:title => @post.title, :description => @post.title } do
  %article{:id => "article-#{@post.id}", :class => "post", :role => "main"}

    = raw link_to '← Back to posts', root_path

    %header
      %time{:datetime => @post.created_at }= I18n.l @post.created_at, :format => :header
      %h2.title= @post.title
    = raw @post.body.to_html

    %section#comments= render "shared/comments"
    
    = raw link_to '← Back to posts', root_path
