- content_for :head do
  = raw stylesheet_link_tag 'section/panel'
  = raw stylesheet_link_tag 'section/markdown_style'
  = raw stylesheet_link_tag 'section/syntax_highlight'
  = raw stylesheet_link_tag 'section/markitup_style'

= semantic_form_for [:panel, @post] do |form|
  = form.inputs do
    = form.input :title
    = form.input :body
    = form.input :description
    = form.input :tag_list, :as => :string
  = form.buttons

- content_for :sidebar do
  = render 'posts'
